<div class="container">
  <h2 class="my-3 ml-3 heading">
    Themes
  </h2>
  <div class="row mb-5">
    <div class="col-md-10 mx-auto">
      <!--無限スクロール-->
      <div class="scroll-list jscroll">
        <%= render 'themes/card', themes: @themes %>
        <%= paginate @themes %>
      </div>
    </div>
  </div>
</div>
