<div class="container">
  <h2 class="my-3 ml-3">
    Theme proposal
  </h2>
  <div class="row mb-5">
    <div class="col-md-5 col-xs-10">
      <%= render 'themes/form', theme: @theme %>
    </div>
    <div class="col-md-7 col-xs-10">
      <!--お題投稿の非同期化-->
      <div id="themes_area">
        <%= render 'themes/post_themes', themes: @themes %>
      </div>
    </div>
  </div>
</div>