<div class="container">
  ランキング
  <div class="row">
    <div class="col-md-10 mx-auto">
      獲得経験値ランキング
      <%= render 'users/rank', user_ranks: @total_exp_rank %>
      獲得Amazings数ランキング
      <%= render 'users/rank', user_ranks: @answer_likes_rank %>
    </div>
  </div>
</div>
