<div class="container">
  <h2 class="my-3 ml-3 heading">
    Ranking
  </h2>
  <div class="row mb-5">
    <div class="col-md-10 mx-auto">
      <h5 class="my-3 ml-3 heading">
        Experience point ranking
      </h5>
      <%= render 'users/rank', user_ranks: @total_exp_rank %>
      <h5 class="my-3 ml-3 heading">
        Amazing ranking
      </h5>
      <%= render 'users/rank', user_ranks: @answer_likes_rank %>
    </div>
  </div>
</div>
