<div class="container">
  <h2 class="my-3 ml-3 heading">
    Answers
  </h2>
  <div class="row mb-5">
    <div class="col-sm-10 mx-auto">
      <!--無限スクロール-->
      <div class="scroll-list jscroll">
        <%= render 'answers/list', answers: @answers %>
        <%= paginate @answers %>
      </div>
    </div>
  </div>
</div>