<div class="container">
  <h2 class="my-3 ml-3 heading">
    Notice
  </h2>
  <div class="row">
    <div class="col-md-5 mx-auto my-5">
      <%= link_to root_path, data: {"turbolinks" => false} do %>
        <%= image_tag 'logo_image.png', class:'col' %>
      <% end %>
    </div>
    <div class="col-md-10 heading mx-auto text-center">
      <h2>
        Coming Soon...
      </h2>
    </div>
  </div>
</div>