<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto text-center my-5">
      <%= image_tag 'logo_image.png', class:'col' %>
      <p class="mt-5">
        大喜利の実力で、最高の称号【レジェンド】を目指そう！
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto">
      <h5 class="my-3 ml-3 heading">
        New themes
      </h5>
      <%= render 'themes/card', themes: @themes %>
    </div>
    <div class="col-md-8 mx-auto">
      <h5 class="my-3 ml-3 heading">
        User ranking
      </h5>
      <%= render 'users/rank', user_ranks: @total_exp_rank %>
    </div>
  </div>
</div>