/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

// エラーメッセージが出た時にformのレイアウト崩れ防止、強調
.field_with_errors {
  display: contents;
  .form-control {
    @extend .is-invalid;
  }
}

// footerページ最下部固定用flexbox
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  text-align: center;
  margin-top: auto;
}

body {
  background-color: #F2F2F2;;
}

.heading {
  font-family: 'Kaushan Script', cursive;
}

.wood {
  background-image: image-url("wood_image.jpg");
  background-size:cover;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
}

nav.pagination {
  display: none;
}

// タブ切り替え
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}

.tab:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身、最初は非表示
.tabbox {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.box-show {
  display: block;
}

// １ページ2つタブ必要な場合
// タブ切り替え
.tab2 {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}

.tab2:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.tab2-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身、最初は非表示
.tabbox2 {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.box2-show {
  display: block;
}

// １ページ3つタブ必要な場合
// タブ切り替え
.tab3 {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}

.tab3:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.tab3-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身、最初は非表示
.tabbox3 {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.box3-show {
  display: block;
}

// タブ切り替え
.tab-rank {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}

.tab-rank:first-child {
  border-left: none;
}